/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
    position:relative;
    min-height:100%;
}

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:20px;
    margin-bottom:60px;
}

h1 {
    font-family: 'Monda', sans-serif;
    text-align: center;
    letter-spacing: .5rem;
}

.btn {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align:center;
}

a {
    color:dodgerblue;
}

.pagination li {
    display:inline-block;
    padding:5px;
    font-size:25px;
}

/* TOP OF PAGE CONTENT */

.jumbotron {
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url("../imgs/gradient2.png");
    background-size: cover;
    min-height:30vh;
}

.nav-link{
    font-size:20px;
}

#scroll_ubtn{
    position:fixed;
    right:20px;
    bottom: 20px;
}

.about_products li {
    margin-bottom:10px;
}

.nav-right {
    margin-right:20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of margin-top:30px;the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/* NEWS PAGE*/
.yearbtn {
    font-size:20px;
    color:black;
    margin-top:1rem;
    font-weight:bold;
}

/* APPLY PAGE */
.applypg {
    font-size:21px;
}

.sticker {
    height:125px;
    width:100px;
    padding-right:5px;
    margin-top:1rem;
}

.applypg .card {
    margin-top:10px;
    font-weight:bold;
    border:2px solid grey;
    border-radius:0;
}

.applypg a {
    color:#5a5a5a;
    text-decoration: none;
}

/* RESOURCES */
.resources li {
    margin-top:15px;
    margin-left: 3rem;
}

.resources a {
    color:#5a5a5a;
}

.resources .list-unstyled a {
    color:dodgerblue;
}

.resources .badge {
    margin:5px;
    letter-spacing: .1em;
}

.t-head {
    font-weight:bold;
}

.resources .card-header {
    background-color:white;
    padding:.58rem 1.2rem;
}

.resources .alert {
    margin-top:5px;
    font-size:17px;
}



/* F A Q */
.faq li {
    margin-top:2px;
}

.card-header a {
    color:black;
}

.section {
    margin-bottom:30px;
    text-align:center;
}

/* HOVER TRANSITION */
.transition {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.card[id^=focus] {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 576px) { /* MOBILE */
    .display-3 {
        font-size:35px;
        margin-top:15%;
    }
}